@import 'colors/colors.css';

* {
    border: none;
    border-radius: 0px;

    font-family: "Adwaita Sans", "JetBrainsMono Nerd Font Propo", sans-serif;
    font-weight: bold;
    /* font-size: 15px; */
    
    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: transparent;
}

tooltip {
    background: @bg0;
    border: 1px solid @bg3;
    border-radius: 12px;
}

tooltip label {
    color: @fg;
    padding: 6px;
}

#workspaces {
    background-color: @bg0;
    padding: 5px 3px;
    margin: 0 0 0 5px;
    border-radius: 18px;
    border: 1px solid @bg1;
    color: @fg;
}

#workspaces button {
    padding: 0px 6px;
    margin: 0px 3px;
    border-radius: 45px;
    color: transparent;
    background-color: @bg1;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background-color: @color5;
    color: @bg0;
    min-width: 45px;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
}

#workspaces border.hover {
    background-color: @color6;
    color: @bg0;
    border-radius: 16px;
    min-width: 45px;
    background-size: 400% 400%;
}

#workspaces border.urgent {
    background-color: @color1;
    color: @bg0;
    border-radius: 16px;
    min-width: 45px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#clock,
#battery,
#language,
#pulseaudio,
#network,
#custom-vpn,
#bluetooth,
#custom-notification {
    background-color: @bg0;
    padding: 0 15px 0 15px;
    margin: 0 0 0 5px;
    border-radius: 45px;
    border: 1px solid @bg1;
    font-size: 14px;
}

#clock {
    color: @fg;
}

#custom-notification {
    color: @fg;
}

#language {
    color: @fg;
}

#pulseaudio {
    color: @color4;
}

#network {
    color: @color5;
}

#battery {
    color: @color6;
}

#bluetooth {
    color: @color2;
}
