@define-color fg #c4c1c2;
@define-color bg0 #15090b;
@define-color bg1 #260f12;
@define-color bg2 #38151b;
@define-color bg3 #40191f;
@define-color bg4 #59262f;

@define-color color1 #951A2E;
@define-color color2 #A7314B;
@define-color color3 #926868;
@define-color color4 #AE8F74;
@define-color color5 #9F7588;
@define-color color6 #7C8183;
@define-color color7 #c4c1c2;
@define-color color8 #6c585b;
@define-color color9 #951A2E;
@define-color color10 #A7314B;
@define-color color11 #926868;
@define-color color12 #AE8F74;
@define-color color13 #9F7588;
@define-color color14 #7C8183;
@define-color color15 #c4c1c2;

